html {
    font-family: sans-serif;
    color: #fafafa;
    background: #000;
}

body {
    box-sizing: border-box;
    width: 100%;
    max-width: 1056px;
    margin: 0 auto;
    padding: 0 16px;
}

a {
    color: #fafafa;
}

div.r404, div.r500 {
    visibility: visible;
    position: relative;
    width: 600px;
    height: auto;
    overflow: visible;
    margin: 0 auto;
    background: transparent;
    border: none;
}

div.r404 > *, div.r500 > * {
    position: relative;
    z-index: 1;
}

div.r404:before, div.r404:after, div.r404 h1:before, div.r404 h1:after,
div.r500:before, div.r500:after {
    content: "";
    position: fixed;
    left: 50%;
    top: 50%;
    z-index: 0;
    box-sizing: border-box;
}

.r404:before {
    width: 400px;
    height: 400px;
    margin-top: -200px;
    margin-left: -200px;
    border: 20px solid #0a0a0a;
    border-radius: 50%;
}

div.r404:after {
    content: "N";
    width: 350px;
    height: 350px;
    margin-top: -175px;
    margin-left: -175px;
    font-size: 80px;
    font-weight: bold;
    text-align: center;
    color: #0a0a0a;
    transform: rotate(-160deg);
}

div.r404 h1, div.r500 h1 {
    margin-top: 1.34em;
}

.r404 h1:before {
    margin-top: -160px;
    margin-left: -25px;
    border-left: 25px solid transparent;
    border-right: 25px solid transparent;
    border-bottom: 160px solid #0a0a0a;
    transform: rotate(140deg);
    transform-origin: 50% 100%;
}

.r404 h1:after {
    margin-top: -160px;
    margin-left: -25px;
    border-left: 25px solid transparent;
    border-right: 25px solid transparent;
    border-bottom: 160px solid #0d0e0d;
    transform: rotate(-40deg);
    transform-origin: 50% 100%;
}

.r500:before {
    width: 400px;
    height: 400px;
    margin-top: -200px;
    margin-left: -200px;
    border: 20px solid #0a0a0a;
    border-radius: 7%;
    transform: rotate(-35deg);
}

div.r500:after {
    content: "!";
    width: 350px;
    height: 350px;
    margin-top: -175px;
    margin-left: -175px;
    font-size: 300px;
    font-weight: bold;
    text-align: center;
    color: #0a0b0a;
    transform: rotate(10deg);
}
